*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0%;

}

html,body{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

header{
    display: flex;
    background-size: 1300px;
    column-gap: 55%;
    width: 100%;
    height: 10%;
    
}
main{
   
    margin-top: 50px;
    margin-left: 50px;
   
}

.opciones{
    display: inline-flex;
    column-gap: 30px;
    width: 30%;
    margin-top: 10px;
        
}

.eslogan{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60%;
    margin: 50px;
    margin-left: 20%;
}

.productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 40px;
    row-gap: 40px;
    
}

footer{
    height: 10%;
    background-color: rgb(191, 255, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 40px;
    margin: 0%;
    margin-top: 60px;
}